.link {
    display: inline-block;
    text-decoration: none;
    padding: 12px;
    font-weight: 700;
    color: #FFD700;
    transition: color 0.3s ease;
}

.link.active,
.link:hover {
    color: #e84a5f;
}